	
	<div id="page-container" class="">
		

        <%- include('custHeader'); -%>


        

<div id="wrapper">
<div class="content-container sh-page-layout-full">
				
				

	<div id="content" class="page-content ">

        


        <div class="fw-page-builder-content">
            <section class="sh-section sh-section-13f8fa377689208b513787141e35663f fw-main-row sh-section-visibility-everywhere" id="home">
                <div style="background-image: url('https://i.pinimg.com/originals/c9/8d/94/c98d940f408a79a425295d6d984686ed.jpg');height: 650px;width: auto;">
                 
                </div>
            </section>
           

<section class="sh-section sh-section-ce8716c171246738ee17eae66b65b7c0 fw-main-row sh-section-visibility-everywhere" id="categories">
	
	
	<div class="sh-section-container container">
		<div class="fw-row">
	
<div class="sh-column sh-column-bdc2e5e9e58286a435405ecf45cced44 fw-col-xs-12" >

	
	<div class="sh-column-wrapper">
		<div class="sh-woocommerce-categories" id="woocommerce-categories-5a776cb494b624994ff0a22f0637996e" data-id="3">
	<div class="row">
		
			<div class="col-md-6 col-sm-6 sh-woocommerce-categories-item">
				<a href="#">
					<div class="sh-ratio">
			            <div class="sh-ratio-container">
			                <div class="sh-ratio-content sh-woocommerce-categories-content">
								<div class="sh-woocommerce-categories-thumb" style="background-image: url(https://i.pinimg.com/originals/9c/91/a8/9c91a828dcf37853eb92fbbd787d996f.jpg);"></div>
								<h3>
									Refrigrators <span class="sh-woocommerce-categories-count">5</span>
								</h3>
			                </div>
			            </div>
			        </div>
				</a>
			</div>

		
			<div class="col-md-6 col-sm-6 sh-woocommerce-categories-item">
				<a href="#">
					<div class="sh-ratio">
			            <div class="sh-ratio-container">
			                <div class="sh-ratio-content sh-woocommerce-categories-content">
								<div class="sh-woocommerce-categories-thumb" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8fQg4D-iqrs2joTMF-p_aQxYZ5DNNrhjCl_gU_SecogHzCXMa);"></div>
								<h3>
									Wahing Machines <span class="sh-woocommerce-categories-count">4</span>
								</h3>
			                </div>
			            </div>
			        </div>
				</a>
			</div>

			<div class="col-md-6 col-sm-6 sh-woocommerce-categories-item">
				<a href="#">
					<div class="sh-ratio">
			            <div class="sh-ratio-container">
			                <div class="sh-ratio-content sh-woocommerce-categories-content">
								<div class="sh-woocommerce-categories-thumb" style="background-image: url(https://i.pinimg.com/originals/9c/91/a8/9c91a828dcf37853eb92fbbd787d996f.jpg);"></div>
								<h3>
									 <span class="sh-woocommerce-categories-count">5</span>
								</h3>
			                </div>
			            </div>
			        </div>
				</a>
			</div>

		
			<div class="col-md-6 col-sm-6 sh-woocommerce-categories-item">
				<a href="#">
					<div class="sh-ratio">
			            <div class="sh-ratio-container">
			                <div class="sh-ratio-content sh-woocommerce-categories-content">
								<div class="sh-woocommerce-categories-thumb" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8fQg4D-iqrs2joTMF-p_aQxYZ5DNNrhjCl_gU_SecogHzCXMa);"></div>
								<h3>
									Wahing Machines <span class="sh-woocommerce-categories-count">4</span>
								</h3>
			                </div>
			            </div>
			        </div>
				</a>
			</div>

			</div>
</div>
	</div>


		

</div>
</div>


	</div>
</section>

	
	
	<div class="sh-section-container container">
		<div class="fw-row">
	
<div class="sh-column sh-column-fb23b94da6a96e193a8e8e7b7e612068 fw-col-xs-12" >

	
	<div class="sh-column-wrapper">
		
<div class="sh-heading  " id="heading-179491b8ad2b9957e77f8b3f19e60949">
	<div class="sh-element-margin">

		

		
	</div>
</div>

<div class="sh-heading  " id="heading-b2ec8ac03896b5af6f3706cc0c563b22">
	<div class="sh-element-margin">

		
			<h1 class="sh-heading-content size-custom text-center">
</
		
	</div>
</div>

<div id="divider-054b1e638814fec27597bd7c867dcd72" class="sh-divider sh-divider-center sh-divider-content-none">
			<div class="sh-divider-line"></div>
	</div>

		</div>
</div>
	</div>


		

</div>
</div>

	</div>
</section>

<!-- <section class="sh-section sh-section-e03ebcdcb6a83a1b6fc1ddc6c204cfec fw-main-row sh-section-visibility-everywhere" id="subscribe">
	
	
	<div class="sh-section-container container">
		<div class="fw-row">
	
<div class="sh-column sh-column-0c58f33fec4e7081aefa8dddfa128be3 fw-col-xs-12 fw-col-sm-6" >

	
	<div class="sh-column-wrapper">
			</div>


		

</div>

<div class="sh-column sh-column-812d2f5dd900fb3e983d4f11d11bae3e fw-col-xs-12 fw-col-sm-6" >

	
	<div class="sh-column-wrapper">
		

	<div class="sh-heading sh-heading-style1" id="heading-83652019948c73aa1c58aabc9d547ef9">
		<h1 class="sh-heading-content size-xl">
			<span style="text-align: left;">Subscribe to get discount coupons &amp; new offers!</span>		</h1>
	</div>


<div id="text-block-3a60f78df9b02d88d6eaa76d34f54e41" class="sh-text-block">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt erat volutpat.</p></div>
<div id="contact-form-4a050c6eb614144f62eb11f446151787" class="form-wrapper contact-form">
	<form data-fw-form-id="fw_form" method="post" action="https://i.pinimg.com/originals/c9/8d/94/c98d940f408a79a425295d6d984686ed.jpg" 
	class="fw_form_fw_form" data-fw-ext-forms-type="contact-forms"><input type="hidden" name="fwf" value="fw_form" />
	<input type="hidden" id="_nonce_fe51fc0f8db6f06eb346bee574855ecf" name="_nonce_fe51fc0f8db6f06eb346bee574855ecf" 
	value="6186eecbd7" /><input type="hidden" name="_wp_http_referer" value="/shop1/" /><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms" /><input type="hidden" name="fw_ext_forms_form_id" value="4a050c6eb614144f62eb11f446151787" /><div class="wrap-forms">
	<div class="fw-row"></div><div class="fw-row"><div class="fw-col-xs-12 form-builder-item">
	<div class="field-text">
				<label for="id-1">Email			<sup>*</sup>		</label>
				<input type="text" name="email_c7335b4" placeholder="Enter your email.." value="" id="id-1" required="required">
			</div>
</div></div><div class="fw-row"></div></div><div>
	<input type="submit" value="Subscribe" />
</div></form></div>
<div class="sh-heading  " id="heading-ab488aed2e5b737812df45ff0cf40114">
	<div class="sh-element-margin">

		
			<h3 class="sh-heading-content size-custom text-left">
				Follow us on			</h3>

		
	</div>
</div>


	</div>


		

</div>
</div>

	</div>
</section> -->



<section class="sh-section sh-section-0d42080db17ea9123aab2cc3d4a4c90f fw-main-row sh-section-visibility-everywhere sh-section-extra-white-space" id="info">
	
	
	<div class="sh-section-container container section-justify-height">
		<div class="fw-row">
	
<div class="sh-column sh-column-c01e0f033bd1ed5925bccbe89bcb6c3d fw-col-xs-12 fw-col-sm-6 sh-column-mobile-padding" >

	
	<div class="sh-column-wrapper">
		
<div id="icon-49a57e4df008fff585290dd481e77bc7" class="sh-icon  sh-icon-left" >

	
		<div class="sh-element-margin">
			<div class="sh-icon-container">
				<i class="sh-icon-data icon-credit-card"></i>
			</div>
		</div>

	</div>

<div class="sh-heading  " id="heading-039be48d911c689844a8f707b88fba60">
	<div class="sh-element-margin">

		
			<h1 class="sh-heading-content size-s text-left">
				Payment method			</h1>

		
	</div>
</div>

<div id="text-block-8a6ab32401c8a2120da4fa9ced20ed2d" class="sh-text-block">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p><p>sed diam nonummy nibh euismod tincidunt ut laoreet</p><p>dolore magna aliquam erat volutpat.</p></div>

<div id="single-image-7f1db6c6b0342c8d6acdfd2d592fcf86" class="sh-single-image  ">
	<div class="sh-element-margin">
		
		
			<div class="sh-single-image-container">
															<a href="//cdn.jevelin.shufflehound.com/shop1/wp-content/uploads/sites/9/2016/11/payment_methods.jpg" rel="lightbox">
					
													<img class="sh-image-url" src="https://i.pinimg.com/originals/c5/93/2f/c5932fcd004deb889238e2c4fce11880.jpg" alt="payment_methods" />
													
											</a>
									
							</div>

		
	</div>
</div>
	</div>


		

</div>

<div class="sh-column sh-column-615d1faaa83413b64a3091e511215816 fw-col-xs-12 fw-col-sm-6 sh-column-mobile-padding" >

	
	<div class="sh-column-wrapper">
		
<div id="icon-be6db2ba838e40c51bc072e065b41ed4" class="sh-icon  sh-icon-left" >

	
		<div class="sh-element-margin">
			<div class="sh-icon-container">
				<i class="sh-icon-data icon-plane"></i>
			</div>
		</div>

	</div>

<div class="sh-heading  " id="heading-2849a19142a305c6b5b143723fb66b60">
	<div class="sh-element-margin">

		
			<h1 class="sh-heading-content size-s text-left">
				Shipment and delivery			</h1>

		
	</div>
</div>

<div id="text-block-0160c6e785dac30dcf5bc3dc131b1db5" class="sh-text-block">
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p><p>sed diam nonummy nibh euismod tincidunt ut laoreet</p><p>dolore magna aliquam erat volutpat.</p></div>

<ul class="sh-list sh-list-style2" id="list-7fab4fdb64739add6d39467b313d4b69">
			<li class="sh-list-item">
			<span class="sh-list-icon">
				<i class="fa fa-angle-right"></i>
			</span>
			Lorem ipsum dolor sit amet		</li>
			<li class="sh-list-item">
			<span class="sh-list-icon">
				<i class="fa fa-angle-right"></i>
			</span>
			Morbi rutrum ex ultricies, mollis magna sed		</li>
	</ul>
	</div>


		

</div>
</div>

	</div>
</section>

</div>

		
	</div>
	

		</div>

        <%- include('custFooter'); -%>

	</div>


	
	
		<div class="sh-back-to-top sh-back-to-top3">
			<i class="icon-arrow-up"></i>
		</div>

	</div>
	






<script type="text/javascript">

	jQuery(document).ready(function ($) {
	    "use strict";

	    $(".sh-page-loader").fadeOut(500);
	    $("body").css('overflow-y', 'visible').css('overflow-x', 'hidden');

		$(window).bind('beforeunload', function(e){
			$('.sh-page-loader').fadeIn();
		});

	});
</script>

