<%- include('custLink'); -%>
<div class="sh-back-to-top sh-back-to-top3">
    <i class="icon-arrow-up"></i>
</div>

</div>


        
<footer class="sh-footer" role="contentinfo" itemscope="itemscope" style="background: url('https://i.pinimg.com/originals/c9/8d/94/c98d940f408a79a425295d6d984686ed.jpg');">
					
    <div class="sh-footer-widgets">
        <div class="container">
            <div class="sh-footer-columns">
                
<div id="image-2" class="widget_social_links widget-item widget_image">	<div class="wrap-image">
<div class="sh-image-widgets">


        <img src="https://dcassetcdn.com/design_img/990673/492142/492142_5511345_990673_image.png" style="height: 100px;" alt="" />


        <p class="sh-image-widgets-description">
Duis semper mauris vitae purus rhoncus suscipit. Nunc dictum dapibus tellus, at viverra risus pharetra id. Nulla facilisi. Ut mollis et augue non gravida. 				</p>



</div>
</div>
</div>
<div  style="margin-left: 100px;" id="woocommerce_products-2" class="widget-item woocommerce widget_products"><h3 class="widget-title">Contact Us</h3>
    <ul class="product_list_widget">
        Mail Us:onlinehomeappliences@gmail.com
Home Appliences Internet Private Limited,<br>


Clove Embassy Tech Village,<br>

Outer Ring Road, Adajan,<br>

Surat, 394210,<br>

Gujarat, India
</div>						</div>
        </div>
    </div>

                        <div class="sh-copyrights">
<div class="container container-padding">

<div class="sh-copyrights-style2">
<div class="sh-table-full">
                            <div class="sh-table-cell">
        
<div class="sh-copyrights-text">
<span class="developer-copyrights ">
created by Bhagyashri <a href="" target="blank"><strong></strong>.</a>
</span>
<span></span>
</div>						</div>
</div>
</div>


</div>
</div>
</footer>
